/*** Open Sans Typeface ***/

/*** Font Faimily ***/
/*** Header ***/
/*** Base color ***/
/*** Body & Content ***/
/*** Footer ***/
/*** Form ***/
/*** Mixins Collection ***/

img.center {
	margin-right: auto;
	margin-left: auto;
}

blockquote {
	padding: 1em 3em 3em 1em;
}

blockquote > blockquote {
	padding: 1em 3em 0 1em;
}

blockquote:before {
	margin-right: -42px;
	padding-left: 5px;
	padding-right: 0;
	margin-left: auto;
}

/*** Header ***/

/*** Main menu***/

.main-menu ul > li {
	float: right;
}

.main-menu ul > li a:after {
	padding-right: 5px;
	padding-left: 0;
}

.main-menu ul li ul {
	right: 0;
	left: auto;
}

.main-menu ul li ul li ul {
	right: 100%;
	left: auto;
}

.main-menu ul li ul li a:after {
	padding-right: 10px;
	padding-left: 0;
}

/*** Search widget ***/

#mobile-search {
	margin-right: auto;
	margin-left: auto;
}

/*******   Secondary menu  ********/

.secondary-menu ul > li {
	float: right;
}

.secondary-menu ul > li a:after {
	padding-right: 5px;
	padding-left: 0;
}

.secondary-menu ul li ul {
	right: 0;
	left: auto;
}

.secondary-menu ul li ul li ul {
	right: 100%;
	left: auto;
}

.secondary-menu ul li ul li a:after {
	padding-right: 10px;
	padding-left: 0;
}

/*******   Sidebar Area   ********/

.widget .social-widget a {
	padding-left: 1em;
	padding-right: 0;
}

/******** Slider  ********/

/******** Masonry Default/ 2 column layout  ********/

/******** Masonry 1 column/ fullwidth layout  ********/

/*** Hack for firefox column-break-inside ***/

/***  Query post styling  ***/

.query-widget-sidebar .entry-title {
	padding: 0 0.8em 0 1em;
}

.query-widget-sidebar .byline,
.query-widget-sidebar .entry-meta {
	padding-right: 1.3em;
	padding-left: 0;
}

.query-widget-sidebar .byline .category:before,
.query-widget-sidebar .entry-meta .category:before {
	margin-left: 5px;
	margin-right: auto;
}

.query-widget-sidebar .byline .tag:before,
.query-widget-sidebar .entry-meta .tag:before {
	margin-left: 5px;
	margin-right: auto;
}

.loop-meta {
	padding-right: 1em;
	padding-left: 0;
}

/*** 1 column layout ***/

/*** Single content ***/
.breadcrumb-trail.breadcrumbs {
	padding-right: 1em;
	padding-left: 0;
}

.breadcrumb-trail.breadcrumbs .trail-browse {
	margin-left: 0.3em;
	margin-right: auto;
}

.single-content .comment-counter {
	left: 0;
	padding: 1.3em 2.5em 1.7em 1em;
	right: auto;
}

.single-content .comment-counter:before {
	right: 20%;
	left: auto;
}

.single-content .entry-title {
	right: 0;
	left: auto;
}

.single-content .title {
	right: 0;
	left: auto;
}

.single-content .format-link {
	text-align: right;
}

.single-content .format-aside {
	text-align: right;
}

.single-content .format-status .entry-content {
	margin-right: 3em;
	margin-left: 0;
}

.single-content .format-status .entry-content:after {
	right: 0;
	border-right: 0 solid #18af91;
	border-left: 15px solid #17a689;
	left: auto;
}

.single-content .format-quote blockquote {
	padding-right: 3em;
	padding-left: 0;
}

.single-content .format-quote .entry-footer {
	text-align: right;
}

.single-entry-meta time:before {
	margin-left: 5px;
	margin-right: auto;
}

.single-entry-meta span {
	padding-right: 3em;
	padding-left: 0;
}

.single-entry-meta span:before {
	margin-left: 5px;
	margin-right: auto;
}

.articles-pager .prev {
	float: right;
	border-left: 1px solid #e3e3e3;
	border-right: none;
}

.articles-pager .prev .arrow {
	float: right;
	margin-left: 1em;
	margin-right: auto;
}

.articles-pager .next {
	float: left;
}

.articles-pager .next .arrow {
	float: left;
	margin-right: 1em;
	margin-left: auto;
}

/*** Comment Area ***/

.comment-list li ol,
.comment-list li li ol {
	margin-right: 3em;
	margin-left: auto;
}

.comment-avatar {
	margin-left: 1em;
	margin-right: auto;
}

.bypostauthor .comment-meta .comment-author:after {
	margin-right: 1em;
	margin-left: auto;
}

.comment-reply-link {
	float: left;
}

.comment-content ul,
.comment-content ol {
	margin-right: 3em;
	margin-left: auto;
}

.comments-nav .prev {
	padding: 0.5em 0.3em 0.5em 1.5em;
	float: right;
}

.comments-nav .prev:before {
	padding-left: 10px;
	padding-right: 0;
}

.comments-nav .next {
	padding: 0.5em 1.5em 0.5em 0.3em;
	float: left;
}

.comments-nav .next:after {
	padding-right: 10px;
	padding-left: 0;
}

#respond h3 span {
	text-align: right;
}

.comment-form .item-title {
	margin-left: -4px;
	margin-right: auto;
}

.comment-form .form-icon {
	margin-left: 5px;
	margin-right: auto;
}

.comment-form input {
	padding: 4px 2% 4px 0;
}

.comment-form textarea {
	padding: 4px 5px 4px 0;
	padding-left: 0;
	padding-right: 0;
}

.page-numbers.prev {
	padding: 0.5em 0.3em 0.5em 1.5em;
}

.page-numbers.prev:before {
	padding-left: 10px;
	padding-right: 0;
}

.page-numbers.next {
	padding: 0.5em 1.5em 0.5em 0.3em;
}

.page-numbers.next:after {
	padding-right: 10px;
	padding-left: 0;
}

.footer-container .copyleft {
	float: right;
}

.footer-container .credit {
	float: left;
}

/***  WordPress specific css  ***/

.alignright {
	float: right;
	margin: 0.3em 0 1.5em 2em;
}

.alignleft {
	float: left;
	margin: 0.3em 2em 1.5em 0;
}

.right {
	float: right;
	margin: 1.5em 0 1.5em 2em;
}

.left {
	float: left;
	margin: 1.5em 2em 1.5em 0;
}

.entry-attachment {
	padding: 5px 6px 0px 0px;
}

/***   Post Format style     ***/

.format-link h2 a::after {
	padding-right: 3px;
	padding-left: 0;
}

.format-status .avatar {
	float: right;
	margin: 0 0 25px 25px;
}

.format-gallery .gallery-thumbnail ul li:nth-child(odd) {
	float: right;
}

.format-gallery .gallery-thumbnail ul li:nth-child(even) {
	float: left;
}

.format-gallery .gallery-thumbnail ul li#image-odd {
	float: right;
}

.format-gallery .gallery-thumbnail ul li#image-even {
	float: left;
}

.format-quote blockquote {
	padding-right: 2em;
	padding-left: 0;
}

.format-quote blockquote:before {
	float: right;
	padding-left: 5px;
	right: 13%;
	left: auto;
	padding-right: 0;
}

.format-chat .chat-text {
	margin-right: 25px;
	margin-left: auto;
}

.format-chat .chat-row:nth-of-type(odd) {
	text-align: right;
}

.format-chat .chat-row:nth-of-type(odd) .chat-text {
	margin-right: 25px;
	margin-left: 0;
}

.format-chat .chat-row:nth-of-type(odd) .chat-text:after {
	right: 0;
	border-right: 0 solid transparent;
	border-left: 8px solid transparent;
	left: auto;
}

.format-chat .chat-row:nth-of-type(even) {
	text-align: left;
}

.format-chat .chat-row:nth-of-type(even) .chat-text {
	margin-right: 0;
	margin-left: 25px;
}

.format-chat .chat-row:nth-of-type(even) .chat-text:after {
	left: 0;
	border-right: 8px solid transparent;
	border-left: 0 solid transparent;
	right: auto;
}

.format-chat .chat-author::before {
	padding-left: 3px;
	padding-right: 0;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {

}

@media only screen and (max-width: 479px) {

}

/*********************		Responsive styles	 ***********************/
@media only screen and (max-width: 1199px) {

}

@media only screen and (min-width: 768px) and (max-width: 959px) {

.format-gallery .gallery-thumbnail ul li#image-even {
	float: left;
}

.format-quote blockquote {
	padding-right: 2em;
	padding-left: 0;
}

.format-quote blockquote:before {
	float: right;
	padding-left: 5px;
	right: 13%;
	left: auto;
	padding-right: 0;
}

.format-chat .chat-text {
	margin-right: 25px;
	margin-left: auto;
}

.format-chat .chat-row:nth-of-type(odd) {
	text-align: right;
}

.format-chat .chat-row:nth-of-type(odd) .chat-text {
	margin-right: 25px;
	margin-left: 0;
}

.format-chat .chat-row:nth-of-type(odd) .chat-text:after {
	right: 0;
	border-right: 0 solid transparent;
	border-left: 8px solid transparent;
	left: auto;
}

.format-chat .chat-row:nth-of-type(even) {
	text-align: left;
}

.format-chat .chat-row:nth-of-type(even) .chat-text {
	margin-right: 0;
	margin-left: 25px;
}

.format-chat .chat-row:nth-of-type(even) .chat-text:after {
	left: 0;
	border-right: 8px solid transparent;
	border-left: 0 solid transparent;
	right: auto;
}

.format-chat .chat-author::before {
	padding-left: 3px;
	padding-right: 0;
}


@media only screen and (min-width: 480px) and (max-width: 767px) 

@media only screen and (max-width: 479px) 

/*********************		Responsive styles	 ***********************/
@media only screen and (max-width: 1199px) 
}

@media only screen and (max-width: 767px) {

.format-chat .chat-text {
	margin-right: 25px;
	margin-left: auto;
}

.format-chat .chat-row:nth-of-type(odd) {
	text-align: right;
}

.format-chat .chat-row:nth-of-type(odd) .chat-text {
	margin-right: 25px;
	margin-left: 0;
}

.format-chat .chat-row:nth-of-type(odd) .chat-text:after {
	right: 0;
	border-right: 0 solid transparent;
	border-left: 8px solid transparent;
	left: auto;
}

.format-chat .chat-row:nth-of-type(even) {
	text-align: left;
}

.format-chat .chat-row:nth-of-type(even) .chat-text {
	margin-right: 0;
	margin-left: 25px;
}

.format-chat .chat-row:nth-of-type(even) .chat-text:after {
	left: 0;
	border-right: 8px solid transparent;
	border-left: 0 solid transparent;
	right: auto;
}

.format-chat .chat-author::before {
	padding-left: 3px;
	padding-right: 0;
}


@media only screen and (min-width: 480px) and (max-width: 767px) 

@media only screen and (max-width: 479px) 

/*********************		Responsive styles	 ***********************/
@media only screen and (max-width: 1199px) 
@media only screen and (min-width: 768px) and (max-width: 959px) {

.format-gallery .gallery-thumbnail ul li#image-even {
	float: left;
}

.format-quote blockquote {
	padding-right: 2em;
	padding-left: 0;
}

.format-quote blockquote:before {
	float: right;
	padding-left: 5px;
	right: 13%;
	left: auto;
	padding-right: 0;
}

.format-chat .chat-text {
	margin-right: 25px;
	margin-left: auto;
}

.format-chat .chat-row:nth-of-type(odd) {
	text-align: right;
}

.format-chat .chat-row:nth-of-type(odd) .chat-text {
	margin-right: 25px;
	margin-left: 0;
}

.format-chat .chat-row:nth-of-type(odd) .chat-text:after {
	right: 0;
	border-right: 0 solid transparent;
	border-left: 8px solid transparent;
	left: auto;
}

.format-chat .chat-row:nth-of-type(even) {
	text-align: left;
}

.format-chat .chat-row:nth-of-type(even) .chat-text {
	margin-right: 0;
	margin-left: 25px;
}

.format-chat .chat-row:nth-of-type(even) .chat-text:after {
	left: 0;
	border-right: 8px solid transparent;
	border-left: 0 solid transparent;
	right: auto;
}

.format-chat .chat-author::before {
	padding-left: 3px;
	padding-right: 0;
}


@media only screen and (min-width: 480px) and (max-width: 767px) 

@media only screen and (max-width: 479px) 

/*********************		Responsive styles	 ***********************/
@media only screen and (max-width: 1199px) 
}

}

@media only screen and (min-width: 480px) and (max-width: 767px) {


@media only screen and (min-width: 480px) and (max-width: 767px) 

@media only screen and (max-width: 479px) 

/*********************		Responsive styles	 ***********************/
@media only screen and (max-width: 1199px) 
@media only screen and (min-width: 768px) and (max-width: 959px) {

.format-gallery .gallery-thumbnail ul li#image-even {
	float: left;
}

.format-quote blockquote {
	padding-right: 2em;
	padding-left: 0;
}

.format-quote blockquote:before {
	float: right;
	padding-left: 5px;
	right: 13%;
	left: auto;
	padding-right: 0;
}

.format-chat .chat-text {
	margin-right: 25px;
	margin-left: auto;
}

.format-chat .chat-row:nth-of-type(odd) {
	text-align: right;
}

.format-chat .chat-row:nth-of-type(odd) .chat-text {
	margin-right: 25px;
	margin-left: 0;
}

.format-chat .chat-row:nth-of-type(odd) .chat-text:after {
	right: 0;
	border-right: 0 solid transparent;
	border-left: 8px solid transparent;
	left: auto;
}

.format-chat .chat-row:nth-of-type(even) {
	text-align: left;
}

.format-chat .chat-row:nth-of-type(even) .chat-text {
	margin-right: 0;
	margin-left: 25px;
}

.format-chat .chat-row:nth-of-type(even) .chat-text:after {
	left: 0;
	border-right: 8px solid transparent;
	border-left: 0 solid transparent;
	right: auto;
}

.format-chat .chat-author::before {
	padding-left: 3px;
	padding-right: 0;
}


@media only screen and (min-width: 480px) and (max-width: 767px) 

@media only screen and (max-width: 479px) 

/*********************		Responsive styles	 ***********************/
@media only screen and (max-width: 1199px) 
}

@media only screen and (max-width: 767px) {

.format-chat .chat-text {
	margin-right: 25px;
	margin-left: auto;
}

.format-chat .chat-row:nth-of-type(odd) {
	text-align: right;
}

.format-chat .chat-row:nth-of-type(odd) .chat-text {
	margin-right: 25px;
	margin-left: 0;
}

.format-chat .chat-row:nth-of-type(odd) .chat-text:after {
	right: 0;
	border-right: 0 solid transparent;
	border-left: 8px solid transparent;
	left: auto;
}

.format-chat .chat-row:nth-of-type(even) {
	text-align: left;
}

.format-chat .chat-row:nth-of-type(even) .chat-text {
	margin-right: 0;
	margin-left: 25px;
}

.format-chat .chat-row:nth-of-type(even) .chat-text:after {
	left: 0;
	border-right: 8px solid transparent;
	border-left: 0 solid transparent;
	right: auto;
}

.format-chat .chat-author::before {
	padding-left: 3px;
	padding-right: 0;
}


@media only screen and (min-width: 480px) and (max-width: 767px) 

@media only screen and (max-width: 479px) 

/*********************		Responsive styles	 ***********************/
@media only screen and (max-width: 1199px) 
@media only screen and (min-width: 768px) and (max-width: 959px) {

.format-gallery .gallery-thumbnail ul li#image-even {
	float: left;
}

.format-quote blockquote {
	padding-right: 2em;
	padding-left: 0;
}

.format-quote blockquote:before {
	float: right;
	padding-left: 5px;
	right: 13%;
	left: auto;
	padding-right: 0;
}

.format-chat .chat-text {
	margin-right: 25px;
	margin-left: auto;
}

.format-chat .chat-row:nth-of-type(odd) {
	text-align: right;
}

.format-chat .chat-row:nth-of-type(odd) .chat-text {
	margin-right: 25px;
	margin-left: 0;
}

.format-chat .chat-row:nth-of-type(odd) .chat-text:after {
	right: 0;
	border-right: 0 solid transparent;
	border-left: 8px solid transparent;
	left: auto;
}

.format-chat .chat-row:nth-of-type(even) {
	text-align: left;
}

.format-chat .chat-row:nth-of-type(even) .chat-text {
	margin-right: 0;
	margin-left: 25px;
}

.format-chat .chat-row:nth-of-type(even) .chat-text:after {
	left: 0;
	border-right: 8px solid transparent;
	border-left: 0 solid transparent;
	right: auto;
}

.format-chat .chat-author::before {
	padding-left: 3px;
	padding-right: 0;
}


@media only screen and (min-width: 480px) and (max-width: 767px) 

@media only screen and (max-width: 479px) 

/*********************		Responsive styles	 ***********************/
@media only screen and (max-width: 1199px) 
}

}

}

@media only screen and (max-width: 479px) {

.format-chat .chat-row:nth-of-type(even) .chat-text {
	margin-right: 0;
	margin-left: 25px;
}

.format-chat .chat-row:nth-of-type(even) .chat-text:after {
	left: 0;
	border-right: 8px solid transparent;
	border-left: 0 solid transparent;
	right: auto;
}

.format-chat .chat-author::before {
	padding-left: 3px;
	padding-right: 0;
}


@media only screen and (min-width: 480px) and (max-width: 767px) 

@media only screen and (max-width: 479px) 

/*********************		Responsive styles	 ***********************/
@media only screen and (max-width: 1199px) 
@media only screen and (min-width: 768px) and (max-width: 959px) {

.format-gallery .gallery-thumbnail ul li#image-even {
	float: left;
}

.format-quote blockquote {
	padding-right: 2em;
	padding-left: 0;
}

.format-quote blockquote:before {
	float: right;
	padding-left: 5px;
	right: 13%;
	left: auto;
	padding-right: 0;
}

.format-chat .chat-text {
	margin-right: 25px;
	margin-left: auto;
}

.format-chat .chat-row:nth-of-type(odd) {
	text-align: right;
}

.format-chat .chat-row:nth-of-type(odd) .chat-text {
	margin-right: 25px;
	margin-left: 0;
}

.format-chat .chat-row:nth-of-type(odd) .chat-text:after {
	right: 0;
	border-right: 0 solid transparent;
	border-left: 8px solid transparent;
	left: auto;
}

.format-chat .chat-row:nth-of-type(even) {
	text-align: left;
}

.format-chat .chat-row:nth-of-type(even) .chat-text {
	margin-right: 0;
	margin-left: 25px;
}

.format-chat .chat-row:nth-of-type(even) .chat-text:after {
	left: 0;
	border-right: 8px solid transparent;
	border-left: 0 solid transparent;
	right: auto;
}

.format-chat .chat-author::before {
	padding-left: 3px;
	padding-right: 0;
}


@media only screen and (min-width: 480px) and (max-width: 767px) 

@media only screen and (max-width: 479px) 

/*********************		Responsive styles	 ***********************/
@media only screen and (max-width: 1199px) 
}

@media only screen and (max-width: 767px) {

.format-chat .chat-text {
	margin-right: 25px;
	margin-left: auto;
}

.format-chat .chat-row:nth-of-type(odd) {
	text-align: right;
}

.format-chat .chat-row:nth-of-type(odd) .chat-text {
	margin-right: 25px;
	margin-left: 0;
}

.format-chat .chat-row:nth-of-type(odd) .chat-text:after {
	right: 0;
	border-right: 0 solid transparent;
	border-left: 8px solid transparent;
	left: auto;
}

.format-chat .chat-row:nth-of-type(even) {
	text-align: left;
}

.format-chat .chat-row:nth-of-type(even) .chat-text {
	margin-right: 0;
	margin-left: 25px;
}

.format-chat .chat-row:nth-of-type(even) .chat-text:after {
	left: 0;
	border-right: 8px solid transparent;
	border-left: 0 solid transparent;
	right: auto;
}

.format-chat .chat-author::before {
	padding-left: 3px;
	padding-right: 0;
}


@media only screen and (min-width: 480px) and (max-width: 767px) 

@media only screen and (max-width: 479px) 

/*********************		Responsive styles	 ***********************/
@media only screen and (max-width: 1199px) 
@media only screen and (min-width: 768px) and (max-width: 959px) {

.format-gallery .gallery-thumbnail ul li#image-even {
	float: left;
}

.format-quote blockquote {
	padding-right: 2em;
	padding-left: 0;
}

.format-quote blockquote:before {
	float: right;
	padding-left: 5px;
	right: 13%;
	left: auto;
	padding-right: 0;
}

.format-chat .chat-text {
	margin-right: 25px;
	margin-left: auto;
}

.format-chat .chat-row:nth-of-type(odd) {
	text-align: right;
}

.format-chat .chat-row:nth-of-type(odd) .chat-text {
	margin-right: 25px;
	margin-left: 0;
}

.format-chat .chat-row:nth-of-type(odd) .chat-text:after {
	right: 0;
	border-right: 0 solid transparent;
	border-left: 8px solid transparent;
	left: auto;
}

.format-chat .chat-row:nth-of-type(even) {
	text-align: left;
}

.format-chat .chat-row:nth-of-type(even) .chat-text {
	margin-right: 0;
	margin-left: 25px;
}

.format-chat .chat-row:nth-of-type(even) .chat-text:after {
	left: 0;
	border-right: 8px solid transparent;
	border-left: 0 solid transparent;
	right: auto;
}

.format-chat .chat-author::before {
	padding-left: 3px;
	padding-right: 0;
}


@media only screen and (min-width: 480px) and (max-width: 767px) 

@media only screen and (max-width: 479px) 

/*********************		Responsive styles	 ***********************/
@media only screen and (max-width: 1199px) 
}

}

@media only screen and (min-width: 480px) and (max-width: 767px) {


@media only screen and (min-width: 480px) and (max-width: 767px) 

@media only screen and (max-width: 479px) 

/*********************		Responsive styles	 ***********************/
@media only screen and (max-width: 1199px) 
@media only screen and (min-width: 768px) and (max-width: 959px) {

.format-gallery .gallery-thumbnail ul li#image-even {
	float: left;
}

.format-quote blockquote {
	padding-right: 2em;
	padding-left: 0;
}

.format-quote blockquote:before {
	float: right;
	padding-left: 5px;
	right: 13%;
	left: auto;
	padding-right: 0;
}

.format-chat .chat-text {
	margin-right: 25px;
	margin-left: auto;
}

.format-chat .chat-row:nth-of-type(odd) {
	text-align: right;
}

.format-chat .chat-row:nth-of-type(odd) .chat-text {
	margin-right: 25px;
	margin-left: 0;
}

.format-chat .chat-row:nth-of-type(odd) .chat-text:after {
	right: 0;
	border-right: 0 solid transparent;
	border-left: 8px solid transparent;
	left: auto;
}

.format-chat .chat-row:nth-of-type(even) {
	text-align: left;
}

.format-chat .chat-row:nth-of-type(even) .chat-text {
	margin-right: 0;
	margin-left: 25px;
}

.format-chat .chat-row:nth-of-type(even) .chat-text:after {
	left: 0;
	border-right: 8px solid transparent;
	border-left: 0 solid transparent;
	right: auto;
}

.format-chat .chat-author::before {
	padding-left: 3px;
	padding-right: 0;
}


@media only screen and (min-width: 480px) and (max-width: 767px) 

@media only screen and (max-width: 479px) 

/*********************		Responsive styles	 ***********************/
@media only screen and (max-width: 1199px) 
}

@media only screen and (max-width: 767px) {

.format-chat .chat-text {
	margin-right: 25px;
	margin-left: auto;
}

.format-chat .chat-row:nth-of-type(odd) {
	text-align: right;
}

.format-chat .chat-row:nth-of-type(odd) .chat-text {
	margin-right: 25px;
	margin-left: 0;
}

.format-chat .chat-row:nth-of-type(odd) .chat-text:after {
	right: 0;
	border-right: 0 solid transparent;
	border-left: 8px solid transparent;
	left: auto;
}

.format-chat .chat-row:nth-of-type(even) {
	text-align: left;
}

.format-chat .chat-row:nth-of-type(even) .chat-text {
	margin-right: 0;
	margin-left: 25px;
}

.format-chat .chat-row:nth-of-type(even) .chat-text:after {
	left: 0;
	border-right: 8px solid transparent;
	border-left: 0 solid transparent;
	right: auto;
}

.format-chat .chat-author::before {
	padding-left: 3px;
	padding-right: 0;
}


@media only screen and (min-width: 480px) and (max-width: 767px) 

@media only screen and (max-width: 479px) 

/*********************		Responsive styles	 ***********************/
@media only screen and (max-width: 1199px) 
@media only screen and (min-width: 768px) and (max-width: 959px) {

.format-gallery .gallery-thumbnail ul li#image-even {
	float: left;
}

.format-quote blockquote {
	padding-right: 2em;
	padding-left: 0;
}

.format-quote blockquote:before {
	float: right;
	padding-left: 5px;
	right: 13%;
	left: auto;
	padding-right: 0;
}

.format-chat .chat-text {
	margin-right: 25px;
	margin-left: auto;
}

.format-chat .chat-row:nth-of-type(odd) {
	text-align: right;
}

.format-chat .chat-row:nth-of-type(odd) .chat-text {
	margin-right: 25px;
	margin-left: 0;
}

.format-chat .chat-row:nth-of-type(odd) .chat-text:after {
	right: 0;
	border-right: 0 solid transparent;
	border-left: 8px solid transparent;
	left: auto;
}

.format-chat .chat-row:nth-of-type(even) {
	text-align: left;
}

.format-chat .chat-row:nth-of-type(even) .chat-text {
	margin-right: 0;
	margin-left: 25px;
}

.format-chat .chat-row:nth-of-type(even) .chat-text:after {
	left: 0;
	border-right: 8px solid transparent;
	border-left: 0 solid transparent;
	right: auto;
}

.format-chat .chat-author::before {
	padding-left: 3px;
	padding-right: 0;
}


@media only screen and (min-width: 480px) and (max-width: 767px) 

@media only screen and (max-width: 479px) 

/*********************		Responsive styles	 ***********************/
@media only screen and (max-width: 1199px) 
}

}

}

}


/* Generated by the RTLer - http://wordpress.org/extend/plugins/rtler/ */