[submodule "library"]
	path = library
	url = git://github.com/justintadlock/hybrid-core.git
[submodule "css/mediaelement"]
	path = css/mediaelement
	url = git://github.com/justintadlock/theme-mediaelement.git
